[submodule "lib/weaklib/source"]
	path = lib/weaklib/source
	url = git@github.com:starkiller-astro/weaklib.git
[submodule "lib/thornado/source"]
	path = lib/thornado/source
	url = git@github.com:endeve/thornado.git
